*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
}
body{
    border-top: solid red 8px;
    background: url(https://cuiet.codebrigade.in/images/Chitkara_University_pic.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.form{
    
    padding: 20px;
    font-size: 18px;
    margin-left: 1200px;
    margin-right: 420px;
    margin-top: 90px;
    background: white;
    width: 290px;
 
}
#logs{
    margin-left: 30px;
}
#logo{
    margin-left: 1800px;
}
input{
    width: 200px;
    height: 25px;
}
 #box{
    height: 15px;
    width: 15px;
}
#btn{
    width: 250px;
    height: 30px;
    margin-left: 20px;
    border-radius: 5px;
    color: white;
    background-color: red;
    border: none;
    position: center;
}

